@model _0306191405_HoDucDuy.Areas.Admin.Models.Product

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>*@

<h3>Thêm sản phẩm</h3>
<div><a asp-action="Index"><i class="mdi mdi-arrow-left font-weight-bold" style="font-size: 40px;"></i></a></div>
<div class="row">
    <div class="col">
        <form asp-action="Create" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SKU" class="control-label"></label>
                        <input asp-for="SKU" class="form-control" />
                        <span asp-validation-for="SKU" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                    <label asp-for="Star" class="control-label"></label>
                    <input asp-for="Star" class="form-control" />
                    <span asp-validation-for="Star" class="text-danger"></span>
                </div>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" />
                                @*<span asp-validation-for="ImageFile" class="text-danger"></span>*@
                                <span id="validate1" class="text-danger" style="display: none;">Bạn chưa chọn ảnh</span>
                                <span id="validate" class="text-danger" style="display: none;">Ảnh không đúng định dạng .jpg hoặc .jpeg hoặc .png</span>
                                <br />
                                <img id="imgPreview" style="width: 200px; display: none;" />
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label"></label>
                        <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Highlights" /> @Html.DisplayNameFor(model => model.Highlights)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="status" checked /> @Html.DisplayNameFor(model => model.status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Trở lại</a>
    </div>*@

@section JS {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#ImageFile").on("change", function (e) {
                var test_value = $("#ImageFile").val();
                var extension = test_value.split('.').pop().toLowerCase();
                 if ($.inArray(extension, ['png', 'jpeg', 'jpg']) == -1) {
                    $("#ImageFile").val('');
                    $("#validate").show();
                    $("#imgPreview").hide().attr("src", filePath);
                    return false;
                } else {
                    var filePath = URL.createObjectURL(e.target.files[0]);
                    $("#validate").hide();
                    $("#validate1").hide();
                    $("#imgPreview").show().attr("src", filePath);
                }
            });
        });
        function validateForm() {
            let d = document.getElementById("ImageFile").value;
            if (d == '') {
                $("#validate1").show();
                return false;
            }
        }
    </script>
    
}
